.button {
  border: none;
  width: 100px;
  height: 30px;
  background: #ccc;
  margin-right: 5px;
  margin-bottom: 30px;
  outline: none;
  cursor: pointer;
}

.isActive {
  border: 1px solid rgb(103, 163, 103);
  background-color: lightgreen;
}
